/*importamos fuentes de google*/
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
/*Variables*/
:root {
    --vietnam: "Be Vietnam", sans-serif;
    --ancho: 1440px;
    --color-naranja: hsl(12, 88%, 59%);
    --color-azul-oscuro: hsl(228, 39%, 23%);
    --color-plomo-claro: hsl(0, 0%, 98%);
    --color-azul-claro: hsl(227, 12%, 61%);
}
/*Aplicando estilos a la pagina*/
body {
    font-family: var(--vietnam);
    font-size: 16px;
}
/*--HEADER--*/
.header {
    width: var(--ancho);
    display: flex;
    margin: 0 auto;
    height: 60px;
    margin-top: 30px;
}
.header__logo {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__nav {
    flex: 1;
    display: flex;
}
.header__lista {
    list-style: none;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.header__item {
    margin: 0 20px;
}
.header__link {
    text-decoration: none;
    color: var(--color-azul-oscuro);
    font-weight: 700;
}
/*--MAIN--*/
main {
    max-width: var(--ancho);
    display: flex;
    margin: 100px auto 0 auto;
    flex-wrap: wrap;
}
main section {
    width: 50%;
}
.seccion1 {
    display: flex;
    flex-direction: column;
}
.seccion1 > *{
    margin-bottom: 40PX;
}
.seccion1__titulo {
    color: var(--color-azul-oscuro);
    font-size: 4rem;
    line-height: 4.2rem;
}
.seccion1__parrafo {
    color: var(--color-azul-claro);
    width: 50%;
}
/*--CLASES GENERAES--*/
.btn__started {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn__started-left{
    justify-content: flex-start;
}
.btn__started > button {
    border: none;
    outline: none;
    background-color: var(--color-naranja);
    color: var(--color-plomo-claro);
    width: 150px;
    height: 40px;
    border-radius: 25px;
    box-shadow: var(--color-naranja) 0 2px 10px;
}
